<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content" id="login">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="login">
                    <form action="/" method="POST">

                        <input type="number" required name="regno" id="regno" placeholder="Registration No"><br>
                        <input type="password" required name="password" id="pass" placeholder="Password"><br>
                        <button type="submit" class="btn btn-warning">Go</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>