<div class="navv" 
style="
width: 203px;
height: 100vh;
background-color: rgb(43, 30, 221);
margin-left: -24px;
">
    <ul class="nav_e" style="list-style-type: none;" >
        <li style="margin-top:26px; font-size:16px; font-weight:600;"><a href="student" style="text-decoration: none; "> Student_Data</a></li>
        <li style="margin-top:26px; font-size:16px; font-weight:600;"><a href="notification" style="text-decoration: none; "> Notification</a></li>
        <li style="margin-top:26px; font-size:16px; font-weight:600;"><a href="assignment" style="text-decoration: none; "> Assignment</a></li>
        <li style="margin-top:26px; font-size:16px; font-weight:600;"><a href="update" style="text-decoration: none; "> Update Code</a></li>
    </ul>
</div>