<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>404|Page Not Found</title>
</head>
<style>

</style>
<body>
    <div class="container">
        <h1>404</h1>
        <h5>Website content has been removed or moved to another URL</h5>
        <h5><a href="/">Go to Home Page</a></h5>
    </div>
</body>
</html>