<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    <title>BCA_CM College_DBG</title>
</head>
<body>
    <div class="hero">
        <video class="back-video" autoplay loop muted play-inline>
            <source src="../image/hud.mp4" type="video/mp4">
        </video>
        <div class="content">
            <p class="do">Dept. of </p>
            <h1 class="h11"><span>B</span>achelor of <span>C</span>omputer <span>A</span>pplication</h1>
            <p class="cm">-- C.M College Darbhanga</p>
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal"><span>Student Login</span></button>
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal1"><span>About</span> </button>
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModalScrollable"><span>Notification</span> </button>
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal4"><span>Faculty</span> </button>
            <button type="button" class="btn btn1" data-bs-toggle="modal" data-bs-target="#exampleModal3"><span>Gallery</span> </button>
        </div>
    </div>
  {{>login}}
  {{>about}}
  {{>notification}}
  {{>gallery}}
  {{>faculty}}
{{!-- {{>signup}} --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>

</html>